body {
    margin: 0;
    font-family: Tahoma, Arial, sans-serif;
    background: #efe2c2;
    color: #2b1708;
}


/* الهيدر */

.header {

    background:
    linear-gradient(#251304,#4b2b12);

    padding: 15px 30px;

    border-bottom: 3px solid #d4af37;

    display:flex;

    justify-content:space-between;

    align-items:center;

}


/* اللوجو */

.logo img {

    width:85px;

    height:85px;

    border-radius:50%;

    border:3px solid #d4af37;

    object-fit:cover;

}



/* القائمة */

nav a {

    color:#fff;

    text-decoration:none;

    margin:10px;

    font-size:17px;

}



/* الصفحة الرئيسية */

.hero {

    min-height:75vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;


    background:

    linear-gradient(
    rgba(30,15,5,.75),
    rgba(30,15,5,.75)
    ),

    url("https://images.unsplash.com/photo-1596040033229-a9821ebd058d");


    background-size:cover;

    background-position:center;

}



.hero h1 {

    color:#d4af37;

    font-size:60px;

    text-shadow:2px 2px 8px black;

}



.hero h2 {

    color:#f5deb3;

    font-size:30px;

}



.hero p {

    color:white;

    font-size:20px;

}




.btn {

    display:inline-block;

    background:#d4af37;

    color:#251304;

    padding:15px 30px;

    border-radius:30px;

    text-decoration:none;

    font-weight:bold;

    margin-top:20px;

}




section {

    padding:50px 20px;

    text-align:center;

}



section h2 {

    font-size:35px;

    color:#4b2b12;

}




.cards {

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:25px;

}



.card {

    background:#fff8e7;

    width:230px;

    padding:25px;

    border:2px solid #d4af37;

    border-radius:12px;


    box-shadow:
    0 8px 20px rgba(0,0,0,.2);

}



.card h3 {

    color:#4b2b12;

}




footer {

    background:#251304;

    color:#d4af37;

    padding:20px;

    text-align:center;

}



/* واتساب */

.whatsapp {

    position:fixed;

    right:20px;

    bottom:20px;


    background:#128c45;

    color:white;


    padding:15px 25px;

    border-radius:50px;


    text-decoration:none;

    font-weight:bold;

}



/* موبايل */

@media(max-width:700px){

.header{

flex-direction:column;

}


.hero h1{

font-size:42px;

}

}
